html {
  font-family: helvetica;
}

main {
  margin: 0 auto;
  width: 90%;
}

#user-html-container {
  margin: 30px auto;
  padding: 20px;
  border: solid 1px #e4e4e4;
  width: 80%;
  border-radius: 10px;
}

#file-input-header {
  font-weight: bold;
}
